@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-bolder;
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins-thiner;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-black;
    src: url('./fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: poppins-bold-700;
    src: url('./fonts/Poppins-Bold.ttf');
}

* {
    box-sizing: border-box;
}

/* header */
body {
    padding-top: 65px;
}

header {
    font-family: poppins-bolder;
    padding: 10px 0;
    background-image: url('./imgs/hea.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

ul li {
    list-style: none;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__list .menu__list-item {
    margin: 0 5px;
}
.menu__list .menu__list-item:last-child {
    margin-right: 0;
}

.menu__list .menu__list-item a {
    font-weight: 500;
    padding: 10px 30px;
}

.open-menu-mobile--label {
    display: none;
}

.menu__mobile {
    padding: 15px;
    background-color: #f00;
    display: none;
}

input#openMenuMobile:checked ~ .menu__mobile {
    display: block !important;
}

.menu__mobile ul {
    padding: 0;
}

.menu__mobile ul li a {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.contact-info {
    display: flex;
    padding: 10px 20px;
    background-color: #ff0000;
    right: 0;
    bottom: -100%;
    font-size: .85rem;
    z-index: 100;
}

.contact-info::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    background-image: url('./imgs/icons/wfe4.png');
    display: block;
    width: 40px;
    height: 100%;
}

.contact-info > span > i {
    margin-right: 5px;
}

/* slideshow */

#slides > .carousel-inner > .carousel-item > img {
    width: 100%;
    height: auto;
}

.slide-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: left !important;
    bottom: auto !important;
}

.slide-caption > span {
    font-family: poppins;
    font-size: 4rem;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;
    line-height: 4.2rem;
}

.slide-caption > h1 {
    font-family: poppins-bolder;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 4.2rem;
}

.slide-caption > p {
    font-family: poppins-thiner;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.5rem;
    padding: 20px 0 50px 0;
    margin: 0;
}

.slide-caption .buynow-btn {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    display: inline-block;
    width: 196px;
    text-align: center;
    padding: 12px 0;
    color: #ff0000;
    background-color: #fff;
    font-weight: 500;
    border-radius: 30px;
    line-height: 1.7rem;
}

.slide-caption .buynow-btn:hover {
    background-color: #ff0000;
    color: #fff;
    transition: background-color .25s ease-in-out;
}

.social-icon {
    padding: 0;
}

.social-icon li {
    display: inline-block;
    margin-top: 17px;
    padding-right: 10px;
    align-items: center;
}

.social-icon li a {
    display: block;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.1rem;
}

.social-icon li a:hover {
    background-color: #ff0000;
    border: 1px solid #f00;
    transition: background-color .25s ease-in-out;  
}

#slides a[class^="carousel-control-"] {
    width: 70px;
    height: 70px;
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 1.25rem;
    color: #000;
}

#slides a[class^="carousel-control-"]:hover {
    background-color: #f00;
    color: #fff;
    transition: background-color .25s linear;
}

#slides a.carousel-control-prev {
    top: 40%;
    left: 20px;
}
#slides a.carousel-control-next {
    top: 40%;
    right: 20px;
}
/* about us */
.about-us {
    padding: 90px 0;
    border-bottom: 6px solid #db0000;
}

.about-us .about-us__img img {
    width: 100%;
    height: auto;
}

.about-us .about-us__content {
    text-align: end;
    padding-top: 130px;
}

.about-us .about-us__content h3 {
    font-family: poppins-bold-700;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #888687;
    display: block;
    padding-bottom: 5px;
}

.about-us .about-us__content span {
    font-family: poppins-bold-700;
    font-weight: bold;
    font-size: 3.1rem;
    line-height: 3.5rem;
    color: #23242a;
    padding-bottom: 10px;
    display: block;
}

.about-us .about-us__content p {
    font-family: poppins-thiner;
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #23242a;
}

/* brand */

.brand,
.clients {
    padding-top: 50px;
}

.page-title {
    padding-bottom: 50px;
}

.page-title h2 {
    font-family: poppins-bold-700;
    font-size: 3.1rem;
    line-height: 3.1rem;
    margin: 0;
    color: #111111;
}

.brand__product {
    background-color: #ebebeb;
    padding: 90px 0;
    font-family: poppins;
}

.brand__product-item {
    margin-bottom: 30px;
}

.brand__product-item .product-item__box {
    background-color: #fff;
    text-align: center;
    padding: 80px 0px 30px 0;
    text-decoration: none;
    cursor: pointer;
}

.product-item__box > img {
    height: 200px;
    width: auto;
}

.product-item__box:hover > img {
    transform: scale(1.05);
    transition: transform .25s linear;
}

.product-item__box h3 {
    font-family: poppins-bolder;
    font-size: 1.6rem;
    color: #131313;
    padding: 17px 0 0 0;
}

.product-item__box h3 strong {
    color: #f00;
}

.product-item__box span {
    display: block;
    color: #19449b;
    font-size: 1rem;
    padding-bottom: 3px;
    line-height: 1rem;
}

.product-item__box i {
    padding: 0 2px;
}

.see-more {
    font-family: poppins;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    background-color: #000;
    color: #fff;
    padding: 12px 0;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 32px;
    margin-top: 10px;
}

.see-more:hover {
    background-color: #ff0000;
    color: #fff;
    transition: background-color .25s linear;
    text-decoration: none;
}

/* clients */

.clients .clients__comment {
    padding: 90px 0;
    background-color: #ff0000;
}

.clients__comment-contain {
    padding: 0 75px;
}

.clients__comment-content {
    background-color: #fff;
    padding: 60px 80px 35px 80px;
    min-height: 295px;
    transform: skew(-25deg);
    display: block;
    width: 100%;
}

.comment-content--inner {
    transform: skew(25deg);
}

.comment-content--inner h3 {
    font-family: poppins-bolder;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.comment-content--inner h3 strong{
    font-family: poppins-black;
    color: #f2b87f;
}

.comment-content--inner p {
    font-family: poppins-thiner;
    color: #030000;
    margin: 0;
    font-weight: 300;
    font-size: .95rem;
    line-height: 1.5rem;
}

.comment-content--inner img {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

#comment-slide .carousel-indicators {
    bottom: -90px;
}

#comment-slide .carousel-indicators li {
    width: 36px;
    height: 12px;
    background-color: #000;
    opacity: 1;
    transform: skew(-25deg);
    margin: 0 5px;
}

#comment-slide .carousel-indicators li.active {
    background-color: #fff;
}

/* contact */
.contact {
    padding: 50px 0;
}

.contact__form {
    padding: 40px;
    box-shadow: 0 0 19px 1px #ddd;
}

.contact__form input,
.contact__form textarea {
    border: 2px solid #f00;
    margin-bottom: 30px;
    padding: 25px 20px;
    border-radius: inherit;
    font-family: poppins;
}

.contact__form--send-btn {
    font-family: poppins;
    max-width: 200px;
    display: block;
    margin: 10px auto;
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 0;
    width: 100%;
    font-size: 1.1rem;
}

.contact__form--send-btn:hover {
    background-color: #f00;
    transition: background-color .25s linear;
}

/* footer */

footer {
    background-color: #051108;
    text-align: center;
    font-family: poppins;
}

.footer-contain {
    padding-top: 60px;
}

.footer-box .footer-box__address h3 {
    font-size: 2.4rem;
    display: block;
    max-width: 850px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.footer-box .footer-box__address span {
    font-size: 1.05rem;
    color: #fff;
    padding: 10px 0 5px 0;
    line-height: 1.8rem;
}

.footer-box .footer-box__address p {
    font-size: 1.05rem;
    color: #fff;
    line-height: 1.8rem;
    margin-top: 4px;
}

.footer-box .social-icon li{
    margin: 0 4px;
}

.footer-box__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-box__menu ul li {
        display: inline-block;
        padding: 8px 15px;
}

.footer-box__menu ul li a {
    color: #fff;
    font-size: 1.05rem;
}

.copyright {
    background-color: #fff;
    padding: 20px 0 0 0;
    margin-top: 50px;
}

/* reponsive */

/* Mobile & tablet: width < 1024px */

@media only screen and (max-width: 1024px) {
    .search {
        display: none !important;
    }

    .menu__list .menu__list-item a {
        padding: 10px;
        text-transform: capitalize !important;
    }

    .contact-info {
        display: none !important;
    }

    #slides .social-icon {
        display: none;
    }

    .slide-caption > span {
        font-size: 1.8rem;
        line-height: 1.2rem;
        padding-bottom: 0;
    }

    .slide-caption > h1 {
        font-size: 2.2rem;
    }

    .slide-caption > p {
        padding: 10px 0 20px 0;
    }

    .about-us__img {
        margin-top: 30px;
    }

    .about-us .about-us__content span {
        font-size: 2.9rem;
    }

    .about-us .about-us__content {
        padding-top: 0 !important;
    }

    .clients__comment-contain {
        padding: 0 90px;
    }
}

@media only screen and (max-width: 740px) { 
    header {
        background-image: none;
        background-color: #fff;
        padding-bottom: 0;
    }
    
    .logo-img {
        margin-bottom: 10px;
    }

    .open-menu-mobile--label {
        position: absolute;
        right: 15px;
        display: block;
        top: 5px;
    }

    .open-menu-mobile--btn {
        text-align: center;
        display: block;
        width: 100px;
        background-color: #f00;
        border: none;
        outline: none;
        font-size: 1.5rem;
        border-radius: 3px;
        box-shadow: 0 0 5px 2px #ddd;
    }
    
    .open-menu-mobile--btn i {
        color: #fff;
    }

    .menu__list {
        display: none;
    }

    #slides > .carousel-inner > .carousel-item > img {
        height: 290px;
    }

    .slide-caption > p {
        display: none;
    }

    #slides a[class^="carousel-control-"] {
        width: 45px;
        height: 45px;
    }

    .slide-caption > span {
        font-size: 1.35rem;
    }

    .slide-caption > h1 {
        font-size: 1.2rem;
    }

    .slide-caption {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slide-caption .buynow-btn {
        width: 145px;
        padding: 7px 0;
    }

    #slides .social-icon {
        display: block;
    }

    .about-us__content {
        margin-top: 130px;
        text-align: center !important;
    }

    .about-us .about-us__content span {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .page-title h2 {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .clients__comment-contain {
        padding: 0;
    }

    .clients__comment-content {
        padding: 60px 10px 35px 10px;
        transform: skew(0);
    }

    .comment-content--inner {
        transform: skew(0);
    }

    #comment-slide .carousel-indicators li {
        transform: skew(0);
    }
}